
.panel-body {
    background:#fff;
}

.cover-photo {
    position: relative;
}

a:hover{
    text-decoration:none;    
}

.group-timeline-img img {
    width: 100%;
    border-radius: 0 0 0 0;
    -webkit-border-radius: 0 0 0 0;
}

.profile-thumb img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-top: -90px;
    border: 3px solid #fff;
}

.profile-info .panel-footer ul li a {
    color: #7a7a7a;
}

.profile-thumb {
    float: left;
    position: relative;
}

.p-text-area, .p-text-area:focus {
    border: none;
    font-weight: 300;
    box-shadow: none;
    color: #c3c3c3;
    font-size: 16px;
}


.group-user-mail {
    margin: 10px 0 0 20px;
    display: inline-block;
}


.group-name  {
    bottom: 5px;
    left: 15px;
    position: absolute;
}

.group-name h2 a {
    color: #FFFFFF;
    text-rendering: optimizelegibility;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
    font-size: 25px;
}

.group-user-thumb {
    float: left;
    width: 70px;
    margin-right:15px;
}

.group-user-thumb img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
}


.group-user-details h3 {
    margin: 15px 0 0;
    font-size: 18px;
    font-weight: 300;
}

.group-user-details p {
    color: #c3c3c3;
}


.group-user-status {
    padding: 10px 0;
    line-height: 20px;
}

.group-time-action {
    padding: 15px 0;
}


.group-border {
    border-top:1px solid #ebeef5;
}

.group-time-action span, .group-time-action a {
    margin-right: 5px;
}

.group-time-action a {
    color: #2972a1;
}

.group-time-action a:hover {
    text-decoration: underline;
}

.group-time-action span {
    color: #5a5a5a;
}

.group-status-container, .group-comments li {
    margin: 0 -15px 0 -15px;
    padding: 0 15px;
}

.group-gray-bg {
    background: #f6f6f6;
}

.group-comments li {
    border-top:1px solid #ebeef5;
    padding: 15px;
}

.group-comments .cmt-thumb  {
    width: 50px;
    float: left;
    margin-right: 15px;
}

.group-comments .cmt-thumb img {
    width: 50px;
}

.group-comments .cmt-details {
    padding-top: 5px;
}


.group-comments .cmt-details a  {
    font-size: 14px;
    font-weight: bold;
}

.group-comments .cmt-details a.like-link {
    font-size: 12px;
    font-weight: normal;
}

.cmt-form {
    display: inline-block;
    width: 90%;
}

.cmt-form textarea{
    height: 50px;
    line-height: 35px;
}

.group-timeliner h2 {
    background: #828283;
    color: #fff;
    margin-top: 0;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: 300;
}

.group-timeliner ul {
    margin-left:15px;
    margin-bottom: 20px;
    list-style-type:none;
}

.group-comments{
    list-style-type:none;
}

.group-timeliner ul li {
    margin-bottom: 3px;
}

.group-timeliner ul li a{
    color: #999797;
    border-left: 4px solid #d3d7dd;
    padding-left:10px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: block;
}

.group-timeliner ul li a:hover{
    color: #999797;
    border-left: 4px solid #b1b1b1;
    padding-left:10px;
}

.group-timeliner ul li.active a{
    color: #7a7a7a;
    border-left: 4px solid #7a7a7a;
    padding-left:10px;
}

.recent-highlight {
    background: #FF6C60 !important;
}